@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{    
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: white;
}
.wrapper{
    margin: 5% 8%;
}

/* ***************************HEADER************************* */
header{
    background-color: #bcaac4;
    /* background:radial-gradient(circle, rgba(2,61,81,1) 13%, rgba(30,17,49,1) 100%); */
    padding: 0.75em 0em;
    border-bottom: #1D1130 solid 2px;    
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.menu li{
    padding: 0 2em;
    align-self: center;
}
.menu a{
    text-decoration: none;
    color:  #1D1130;
    font-size: 1rem;
    font-style: italic;
    font-weight: 450;
}
.menu a:hover{
    color: white;
    
}
#logo{
    max-width: 70px;
}


/* *******************************HomePage************************************8 */
.home h2, .home h3{
    font-style: italic;
    text-align: center;
}

.home h2{
    /* background-color: #1E0034; */
    padding: 0.75em;
    font-size: 2.75rem;
    font-weight: 700;
    margin-top: 1em;
}

.home h3{ 
    line-height: 1.25em;
    font-size: 1.25rem;
    font-weight: 400;
    background-color:#1D1130;
    padding: 2.5em 7em;
   
}
#sign{
    display: none;
}
#banner{
    max-width: 80%;
    margin: 0 9.97%;
}


.work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
}
.work img{
    max-width: 100%;
}
.work a{
    transition-property:
    transfrom;
    transition-duration: 1s;
}

.work a:hover{
    transform: scale(1.10);
    /* box-shadow: 2px 2px 2px 2px rgba(200, 204, 220, 0.465); */

    /* border-radius: 150px ; */
}

/* ***************************************PROJECTS PAGE */

.project h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}
.project h2{
    margin-top: 2em;
    margin-bottom: 0.25em;
    font-size: 2rem;
    font-weight: 700;
}


/* ***************************DESCRIPTIONS*********************************** */

.description h1{
    font-size: 3.25rem;
    font-weight: 800;
    
}
.description h2{
    margin-top: 0.25em;
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
}
.description p{
    margin-top: 1.25em;
    font-size: 1.10rem;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
}

.description h3{
    margin-top: 2em;
    font-size: 1.75rem;
    font-weight: 500;
    font-style: italic;
    text-align: left;
}
.description h4{
    font-size: 1rem;
    margin-top: 1em;
    width: 50%;
    line-height: 1.25em;
    font-weight: 200;
}
#image{
    float: right;
    width: 30%;
}
.showcase img{
    width: 100%;
}

.showcase{
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.one{
    margin-top: 4em;
    grid-column-start:1;
    grid-column-end: span 2;
}

#p1, #p2{
    width: 60%;
}
#p2{
    margin-bottom: 4em;
}

.grid{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;

}
#vimeo{
  grid-row-start:1;
  grid-row-end: span 2;
}


#p3{
   grid-column-start: 2;
   grid-column-end: span 3;
   margin-top: 0;
   text-align: justify;
}

.body1 ul, .body2 ul{
    margin-top: 0.75em;

}

.body1 li,.body2 li{
    list-style-type: circle;
    line-height: 1.5em;
    font-size: 1.10rem;
}
/* *******************************ABOUT PAGE**************************** */

#name{
    max-width:55%;
}
.about p{
    margin-top: 2em;
    max-width: 100%;
    font-size: 1.25rem;
    line-height: 1.25em;
    margin-bottom: 1em;

}

/* #photo{
    max-width: 40%;
    border-radius: 55%;
    border: #501f5b 8px solid;
    float: right;
    
} */

#icon{
    max-width: 55%;
    position: relative;
    left: 20%;
    margin-top: 2em;
    
}

/* **************FOOTER******* */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    padding: 2em 1.5em;
    background-color: #1D1130;
    border-top: #bcaac4 solid 2px;
    clear: both;
    justify-content: space-between;

}
footer h4{
    font-size: 1.25rem;
    font-weight: 300;

}
footer svg{
    padding: 0.75em;
}

footer a{
    margin-right: 1em;
    padding: 0.5em;
    color: transparent;
    
}
footer a svg:hover{
    background-color: #83628a;
    border-radius: 20px;
}

/* /////////////////////////////////RESPONSIVE//////////////////////////////////////////////////////////////////////////// */
@media (max-width:768px){
/* *********************************header*/
    .menu li{
        padding: 0 2em;
    }

/* **************************HOME */
   
    .home h2{
        margin-top: 1em;
        padding: 0.75em;
        font-size: 1.75rem;
    }

    .home h3{ 
        font-size: 1rem;
        font-weight: 300;
        padding: 1.25em 1em;
        text-align: left;
        margin-bottom: 4.5em;
        margin-right: 2em;
        margin-top: 3em;
        border:#9F90A5 solid 1.5px;
        border-left: none;
        border-radius: 2px;
        
        
    }

    #banner{
        display: none;
    }
    #sign{
        display: block;
        width: 100%;
        margin-top: 1.5em;
    }

    .work{
        display: block;
    }
    .work img{
        width: 100%;
    }

    /* **********************projects */
    .project h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
    }
    .project h2{
        margin-top: 1.25em;
        margin-bottom: 0.25em;
        font-size: 1.5rem;
        font-weight: 700;
    }
    
   /* *******************************DESCRIP */
    .description h1{
        font-size: 2rem;
    }

    .description h2{
        font-size: 1.10rem;
        line-height: 1.20em;
    }
    .description p{
        font-size: 1rem;
        line-height: 1.35em;
        text-align: left;

    }

    .description h3{
        margin-top: 1.5em;
        font-size: 1.45rem;
    }
    
    .description h4{
        font-size: 0.85rem;
        width: 100%;
        font-weight: 200;
    }

    #image{
        float: left;
        width: 80%;
        margin: 1em 2em;
        margin-bottom: 2em;
    }
   
    .showcase{
        display: block;
        
       
    }
    .one{
        margin-top: 2em;
    }
 /* ********************time */
    #vimeo{
        width: 100%;
    }
    #p1, #p2{
        width: 100%;
        clear: both;
    }
    #p2{
        margin-bottom: 1em;
    }
    
    .grid{
        display: block;
    }
   
    #p3{
       margin-top: 1.75em;
       text-align: left;
       margin-bottom: 4em;
    }
    
    
    .body1 li,.body2 li{
        font-size: 1rem;
    }



/* ************************************ABOUT */

    #name{
        min-width:100%;
    }
    .about p{
        font-size: 1.05rem;
    }
    
    #icon{
        min-width: 100%;
        left: 0;
        
    }



 /* ********************************FOOTER */
    footer {
        display: block;
        margin-top: 0em;
        padding: 3em 1.5em;
        text-align: center;

    }
    footer h4{
        font-weight: 200;
        font-size: 1rem;
        margin-bottom: 1em;

    }
    footer svg{
        padding: 0.75em;
        background-color: #83628a;
        border-radius: 20px;
    }
    
    footer a{
        margin-right: 0.35em;
        padding: 0;
        
    }
    
}